# Week 6 workshop

## Database
A collection of logically related data/tables, including metadata - data about data

### SQL (Structured Query Language) 
- A Data Definition Language (DDL) for defining database structure.
- A Data Manipulation Language (DML) for retrieving and updating data.
- A Data Control Language (DCL) for data control, granting of rights, etc.

SQL commands

<!-- select -->
SELECT * FROM Customers;

<!-- create  -->
CREATE TABLE table_name (
column1 datatype,
column2 datatype,
column3 datatype,
....
);

- table_name must begin with a letter and can only contain letters, numbers, and the underscore character (_).
- table_name cannot contain spaces.
- data type can be integer, float, varchar, date, etc

<!-- create with constraints -->
CREATE TABLE Persons (
PersonID int PRIMAY KEY,
LastName varchar(255) NOT NULL,
FirstName varchar(255) NOT NULL,
Address varchar(255) NOT NULL,
City varchar(255)
);

- not null: column must have a value
- unique: column must have a unique value
- primary key: column must have a unique value, and cannot be null
- foreign key: column must have a value that exists in another table's primary key
- check: column must satisfy a boolean expression
- default: column will have a default value if no value is specified
- create index: create an index for a column for faster retrieval

<!-- inserting data -->
INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);

<!-- select data -->
SELECT column1, column2, ... FROM table_name
WHERE condition;

<!-- like operator -->
SELECT column1, column2, ...
FROM table_name
WHERE columnN LIKE pattern;

- %: zero, one, or multiple characters
- _: one character

<!-- between and in -->
SELECT column1, column2, ...
FROM table_name
WHERE columnN BETWEEN value1 AND value2;

<!-- distinct -->
SELECT DISTINCT column1, column2, ...
FROM table_name;
- distinct: remove duplicate rows

<!-- order by -->
SELECT column1, column2, ...
FROM table_name
ORDER BY column1, column2, ... ASC|DESC;
- order by: sort rows by column(s)

<!-- aggregates -->
SELECT aggregate_function(column1)
FROM table_name
WHERE condition
GROUP BY column1
HAVING condition
ORDER BY column1;

- aggregate functions: count, sum, avg, min, max

<!-- join tables -->
SELECT column_name(s)
FROM table1 t1, table2 t2
WHERE t1.column_name = t2.column_name;

<!-- update data -->
UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;

### Python for SQL

In [1]:
# create a database
import sqlite3

# create a connection to the database
connection = sqlite3.connect('data/DATABASE.db')
# create a cursor object
cursor = connection.cursor()

# TODO: database operations here
sql_cmd = """

"""
cursor.execute(sql_cmd)

# close the connection
connection.commit()
connection.close()

In [ ]:
# query the database
import sqlite3

# create a connection to the database
connection = sqlite3.connect('data/DATABASE.db')
# create a cursor object
cursor = connection.cursor()

# TODO: database operations here
sql_cmd = """

"""
cursor.execute(sql_cmd)

# fetch all result
# result = cursor.fetchall() 
# fetch one result
# result = cursor.fetchone()


# close the connection
connection.commit()
connection.close()

## Python for Excel

In [4]:
import openpyxl
from openpyxl.chart import AreaChart,Reference

# create a workbook
wb = openpyxl.Workbook()
# get the active worksheet
ws = wb.active

# create a table
rows = [
['Number', 'Batch 1', 'Batch 2'],
[2, 40, 30],
[3, 40, 25],
[4, 50, 30],
[5, 30, 10],
[6, 25, 5],
[7, 50, 10],
]

# write the table to the worksheet
for row in rows:
    ws.append(row)

# create a chart
chart = AreaChart()
chart.title = "Area Chart"
chart.style = 13
chart.x_axis.title = 'Test'
chart.y_axis.title = 'Percentage'

# add the data to the chart
cats = Reference(ws, min_col=1, min_row=1,max_row=7) # create a reference to the first column (Number) from row 1 to 7
data = Reference(ws, min_col=2, min_row=1,max_col=3, max_row=7) # create a reference to the second and third column (Batch 1 and Batch 2) from row 1 to 7
chart.add_data(data, titles_from_data=True) # add the data to the chart
chart.set_categories(cats)
ws.add_chart(chart, "A10")
wb.save("./data/area.xlsx")